/* styles.css */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c98ed;
    color: #fff;
    padding: 10px 20px;
}

.logo img {
    border: #1c98ed;
    width: 100px; /*logo styling*/
    height: 100px;
}

.site-name h1 {
    font-size: 24px; /*name of  site*/
}

.nav-links ul {
    list-style: none; /*navigation styling*/
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.social-media a {
    margin-right: 10px; /*This is for the social media*/ 
}

.hamburger-menu {
    display: none; /* Initially hidden - this will hide the menu in larger screens but you can use your code that you already have for the harmburger. */
    flex-direction: column;
    cursor: pointer;
}

.bar { /*hamburger menu bars*/
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
  
.main section {
    padding: 1rem;
    background-color: #82c5ee;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.hero {
    position: relative;
    overflow: hidden;
    margin-top: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;

}

.hero picture {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.hero img{
    width: 100%;
    height: auto;
}

.hero .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}


.adverts {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin-top: 1rem;
}
  
.adverts section {
    padding: 1rem;
    background-color: #82c5ee;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}
  
.map iframe {
    width: 100%;
    height: 400px;
    margin-top: 1rem;
 }

footer {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: repeat(6, auto);
    margin-top: 25px;
}

footer p {
    grid-column: 1/6;
    grid-row: 4;
}

hr {
    grid-column: 1/6;
    grid-row: 4;
    margin-bottom: 60px;
}

#map {
    grid-column: 3/6;
    grid-row: 2;
}

footer img {
    margin-top: 10px;
}
  
  @media screen and (min-width: 500px) { /* large css*/
    .main {
        grid-template-columns: 1fr 1fr;
    }
  
    .adverts {
      grid-template-columns: 1fr 1fr 1fr;
    }
    
    .map {
      width: 100%;
      height: 400px;
    }
  }
  





