th {
    color: #fff;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 1.2em;
    text-align: center;
}
td,
th {
    border: 1px solid #333;
}

.features {
    border-collapse: collapse;
}

.features__cell {
    max-width: 250px;
    font-size: 0.9em;
    font-weight: normal;
    padding: 0.5em 1em;
    line-height: 1.4;

}

.features__cell--bold {
    font-weight: bold;
}



.features__cell--large {
    font-size: 1.25em;
}

.features__cell--center {
    text-align: center;
}

.features__tick::after {
    content: "\2713";
    font-size: 2em;
    color: green;
}

.features__cross::after {
    content: "\2717";
    font-size: 2em;
    color: red;
}

.features__cell:nth-child(1) {
    background-color: #333;
}

th:nth-child(odd) {
    background-color: #585454;
}
th:nth-child(even) {
    background-color: #585454;
}
